
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: #f0f0f0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.7rem;
}

.heading{
    margin-bottom: 2rem;
    color: goldenrod;
    text-transform: uppercase;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;;
    justify-content: center;
}

.calculator {
    background-color: rgb(35, 33, 33);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    padding: 1rem;
    border: 2px solid;
}

 .num{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    /* border: none; */
}

input[type="text"]{
    /* border: none; */
    border-radius: 0.89rem;
    width: 100%;
    padding: 10px;
    background-color: rgb(12, 11, 11);
    color: goldenrod;
    font-weight: 900;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(45, 50, 48);
    background-color: rgb(252, 182, 154);
    background-color: rgb(12, 11, 11);
    color: goldenrod;
    font-weight: 800;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(12, 11, 11);
    color: goldenrod;
    border: 1px solid #ccc;
    font-weight: 800;

}

button:hover{
    color: rgb(12, 11, 11);
    background-color: goldenrod;
}

#result , #conversionResult {
    font-size: 24px;
    margin-top: 10px;
    color: #f7f3f3;
    margin-bottom: 1rem;
    background-color: rgb(52, 133, 52);
    /* font-family: 'Seven Segment'Arial; */
    font-family:  'Lucida Sans', Arial, sans-serif;

    padding: 0.34rem;
    border-radius: 1rem;
    background-color: rgb(12, 11, 11);
    color: goldenrod;
    border: 1px solid #ccc;

}



select#convertToBase {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (min-width:500px) {
    .calculator{
        width: 480px;
    }
}

@media screen and (min-width: 700px) {
    .calculator{
        width: 650px;
    }

}

@media screen and (min-width:1000px) {
    .calculator{
        width: 920px;
    }
}

